<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77506248560-ajnr78mir980roshm6it9747r1qcebf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77506248560-ajnr78mir980roshm6it9747r1qcebf7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>77506248560-0rcj37hip73hl5h4aht0faucqmspqmkv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDW3GjqWz0YngkNh1ZQXrjQEiyLrVe0lPc</string>
	<key>GCM_SENDER_ID</key>
	<string>77506248560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yetitech.rentallpartners</string>
	<key>PROJECT_ID</key>
	<string>equipment-rental-app</string>
	<key>STORAGE_BUCKET</key>
	<string>equipment-rental-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77506248560:ios:cdad3d646ffb51d84bd9b5</string>
</dict>
</plist>